@charset "UTF-8";


/*Typical Device Brakepoints


/*
/*@media print {
    /*IMPRESSÃO*/

/*=====================================📱 MOBILE ==========================================*/
/*#PORTRAIT  max-width: 480px*/

@media screen and (max-width: 480px) and (orientation: portrait) {



    main, section, header, footer, #professional-challenges {
        width: 100vw;
    }

    .logo {
        width: 50vw;
    }

    .banner-content, #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 65vw;
    }

    #transform-world p {
        width: 40vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 2em;
    }
}


/*#LANDSCAPE max-width: 768px*/
@media screen and (max-width: 768px) and (orientation: landscape) {


    main, section, header, footer, #professional-challenges {
        width: 100vw;
    }

    .logo {
        width: 50vw;
    }

    .banner-content, #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 65vw;
    }

    #transform-world p {
        width: 40vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 2em;
    }
}


/*===================================== 📔 TABLETS ==========================================*/
/*#PORTRAIT  min-width: 834px and max-width: 1023px*/

@media screen and (min-width: 834px) and (max-width: 1023px) and (orientation: portrait) {


    main, section, header, footer, #professional-challenges {
        width: 100vw;
    }

    .logo {
        width: 50vw;
    }

    .banner-content, #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 65vw;
    }

    #transform-world p {
        width: 40vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LANDSCAPE min-width: 1024px and max-width: 1279px*/

@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {

    main, section, header, footer, #professional-challenges {
        width: 100vw;
    }

    .logo {
        width: 50vw;
    }

    .banner-content, #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 65vw;
    }

    #transform-world p {
        width: 40vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*.............................................................................................................................................................................................................*/
/*===================================== 💻 LAPTOP ==========================================*/
/*#SMALL min-width: 1280px and max-width: 1366px*/

@media screen and (min-width: 1280px) and (max-width: 1366px) {


    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }


    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 55vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LARGE  min-width: 1367px and max-width: 1919px*/

@media screen and (min-width: 1367px) and (max-width: 1919px) {
    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }

    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 55vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*================================= 🖥 DESKTOP  =======================================*/

/*#PORTRAIT - min-width: 1920px*/

@media screen and (min-width: 1920px) and (orientation: portrait) {
    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }

    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LANDSCAPE - min-width: 1920px*/

@media screen and (min-width: 2000px) and (orientation: landscape) {
    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }

    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LANDSCAPE - min-width: 1920px*/

@media screen and (min-width: 1920px) and (orientation: landscape) {
    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }

    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LANDSCAPE - min-width: 1920px*/

@media screen and (min-width: 2000px) and (orientation: landscape) {
    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }

    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LANDSCAPE - min-width: 2000px*/

@media screen and (min-width: 2000px) and (orientation: portrait) {
    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }

    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }

}

/*================================= DESKTOP EXTRA LARGE SCRENS  =======================================*/

/*================================= EXTRA LARGE SCRENS  =======================================*/

/*#PORTRAIT - min-width: 1920px*/

@media screen and (min-width: 4000px) and (orientation: portrait) {
    h2, h1, p {
        width: 90%;
    }
    
    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }


    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }
}

/*#LANDSCAPE - min-width: 1920px*/

@media screen and (min-width: 4000px) and (orientation: landscape) {

    h2, h1, p {
        width: 90%;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .banner .banner-content {
        flex-wrap: nowrap;
        width: 40vw;
        height: 85vh;
    }


    #frame-couse-content, #frame-couse-content p, .modules-list, .module, #professional-challenges h2, #professional-challenges img, #professional-challenges p {
        width: 75vw;
    }

    .modules-list, .module {
        width: 40vw;
    }

    #transform-world p {
        width: 15vw;
        min-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4em;
    }

}